<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConString"
             connectionString="Data Source=LAPTOP-2L6KD5O6\SQLEXPRESS;Initial Catalog=ADBMS;Integrated Security=True"
             providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>